.idea
.zip
env
__pycache__
node_modules
sygnia/

electron-quick-start
electron-9.0.0-quickstart
flameshot
termcolor-1.1.0
pyano-2.0__2020
pyano-2.0__pre_betterhtmlelement
node-packaging
efficient-frontier
betterhtmlelement-node
ROX