.idea
.zip
env
__pycache__
node_modules
electron-quick-start
electron-9.0.0-quickstart
flameshot
termcolor-1.1.0
pyano-2.0__2020
pyano-2.0__pre_betterhtmlelement
node-packaging
betterhtmlelement-node
ROX
.git
.idea
.zip
ROX
__pycache__
betterhtmlelement-node
electron-9.0.0-quickstart
electron-quick-start
env
flameshot
node-packaging
node_modules
pyano-2.0__2020
pyano-2.0__pre_betterhtmlelement
sygnia
termcolor-1.1.0
*.ipynb_checkpoints*
efficient-frontier/home-task/package-lock.json
.env

twilio-whatsapp
Mega
esm-scratch
pyano-2.0-versions-playground